<!DOCTYPE html>
<html>
  <head>
    <title>La pregunta del día</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Entra y descubre cuál es la pregunta de hoy.">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
